<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip_category.name %>
</p>

<%= link_to 'Edit', edit_trip_category_path(@trip_category) %> |
<%= link_to 'Back', trip_categories_path %>
